<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
	<listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
   
  	<servlet>
<servlet-name>stlogin</servlet-name>
<servlet-class>com.sample.controller.Stlogin</servlet-class>
</servlet>

<servlet>
<servlet-name>facultylogin</servlet-name>
<servlet-class>com.sample.controller.Facultylogin</servlet-class>
</servlet>

<servlet>
<servlet-name>studentregister</servlet-name>
<servlet-class>com.sample.controller.RegisterStudent</servlet-class>
</servlet>

<servlet>
<servlet-name>stcoursereg</servlet-name>
<servlet-class>com.sample.controller.StudentCourseRegister</servlet-class>
</servlet>

<servlet>
<servlet-name>updatestudent</servlet-name>
<servlet-class>com.sample.controller.EditProfile</servlet-class>
</servlet>

<servlet>
<servlet-name>payment</servlet-name>
<servlet-class>com.sample.controller.FeePayment</servlet-class>
</servlet>
  	
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
  
  	<servlet-mapping>
<servlet-name>stlogin</servlet-name>
<url-pattern>/controller1</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>facultylogin</servlet-name>
<url-pattern>/controller2</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>studentregister</servlet-name>
<url-pattern>/controller3</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>stcoursereg</servlet-name>
<url-pattern>/controller4</url-pattern>
</servlet-mapping>
  	
<servlet-mapping>
<servlet-name>updatestudent</servlet-name>
<url-pattern>/editprofile</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>payment</servlet-name>
<url-pattern>/feepayment</url-pattern>
</servlet-mapping>
  	
    <session-config>
        <session-timeout>30</session-timeout>
	</session-config>
</web-app>
